@font-face {
    font-family: 'TerminalText';
    src: url("./ErbosDraco1StNbpRegular-99V5.ttf") format('truetype');
}

@font-face {
    font-family: "Disco";
    src: url("./70SdiscopersonaluseBold-w14z2.otf") format("truetype");
}