.sub-header {
    /* background-color: rgba(92, 92, 92, 0.874); */
    color: rgb(251, 251, 43);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 50%;
    margin: auto;
}

.nav-main {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}

.nav a {
    color: lightpink;
    text-decoration: none;
    margin-right: 10px;
}

@media screen and (maX-width: 768px) {
    .nav-main {
        flex-direction: column;
    }

    .nav {
        flex-direction: column;
    }

    .nav a {
        margin-bottom: 5px;
    }
}