.about-me-container {
    width: 45%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.633);
    margin: auto;
    margin-top: 5%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}

#about-me-div {
    margin-right: 10px;
    width: 45%;
    height: 45%;
    
}

.about-me-title {
    float: left;
    margin-left: 20px
}

.about-me-title-h-tag {
    color: rgb(24, 89, 17);
    font-weight: bolder;
}

.about-me-photo-justin {
    width: 200px;
    height: 150px;
}

.about-me-content-a {
    /* margin-top: 10%; */
    font-size: 16px
}
